<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova_plugin_upshotplugin" version="1.1.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>UpshotPlugin</name><js-module name="UpshotPlugin" src="www/UpshotPlugin.js"><clobbers target="cordova.plugins.UpshotPlugin" /></js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="UpshotPlugin"><param name="android-package" value="cordova_plugin_upshotplugin.UpshotPlugin" /></feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <config-file parent="/manifest/application" target="AndroidManifest.xml" > 
         <service android:name="com.upshot.push.lib.BKFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>        
            <receiver android:name="cordova_plugin_upshotplugin.UpshotPushAction">
                <intent-filter>
                    <action android:name="cordova_plugin_upshotplugin.UpshotPushAction" />
                </intent-filter>
            </receiver>
            <meta-data android:name="BkPushActionReceiver" android:value="cordova_plugin_upshotplugin.UpshotPushAction" />            
            <activity android:name="cordova_plugin_upshotplugin.UpshotWebRedirection" android:theme="@android:style/Theme.NoTitleBar" />            
        </config-file>

        <source-file src="src/android/UpshotPlugin.java" target-dir="src/cordova_plugin_upshotplugin" />
        <source-file src="src/android/UpshotPushAction.java" target-dir="src/cordova_plugin_upshotplugin" />                
        <source-file src="src/android/UpshotWebRedirection.java" target-dir="src/cordova_plugin_upshotplugin" />        
        <source-file src="src/android/upshot_web_redirection.xml" target-dir="res/layout" />
        <framework src="src/android/upshot_cordova.gradle" custom="true" type="gradleReference" />        
        <!-- <lib-file src="src/android/UpshotPush.aar"/> -->
        <!-- <framework src='com.github.Upshot-AI:upshotpushlib:legacyV4.0'/> -->
        <framework src="com.google.firebase:firebase-messaging:17.5.0" />
        <framework src="android.arch.work:work-runtime:1.0.0"/>     
        <framework src="com.github.bumptech.glide:glide:4.9.0"/> 
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="UpshotPlugin"><param name="ios-package" value="UpshotPlugin" /></feature>
        </config-file>
        <source-file src="src/ios/UpshotPlugin.h" />
        <source-file src="src/ios/UpshotPlugin.m" />
        <source-file src="src/ios/AppDelegate+UpshotPlugin.h" />
        <source-file src="src/ios/AppDelegate+UpshotPlugin.m" />
<!--         
    <podspec>
        <config>
            <source url="https://github.com/Upshot-AI/upshot-cordova.git"/>
            <source url="https://github.com/CocoaPods/Specs.git"/>
        </config>
        <pods use-frameworks="true">
            <pod name="UpshotCordovaPlugin" git="https://github.com/Upshot-AI/upshot-cordova.git" spec="~> 1.1.1" /> 
        </pods>
    </podspec> -->
        <!-- <framework src="UpshotCordovaPlugin" type="podspec" spec="~> 1.0.0" /> -->

        <!-- <framework src="src/ios/Framework/UpshotCordovaPlugin.xcframework" custom="true"/> -->
        <!-- <framework src="src/ios/Framework/UpshotCordovaPlugin.xcframework" custom="true"/> -->
        <!-- <hook type="after_platform_add" src="hooks/embedframework/addEmbedded.js" /> -->
        <framework src="src/ios/Framework/UpshotCordovaPlugin.xcframework"  custom="true"/>
        <!-- <source-file src="src/ios/Framework/UpshotCordovaPlugin.xcframework" target-dir="lib" framework="true" /> -->        
    </platform>
</plugin>        
